<a href="https://colab.research.google.com/github/Kim-Hyerin/pdm06/blob/master/py-pandas/pandas_2_handling_df_pdm06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Python module 3. **pandas**

# Using pandas

* [10 Minutes to pandas](https://pandas.pydata.org/pandas-docs/stable/10min.html)
* [Pandas tutorial with interactive exercises](https://www.kaggle.com/pistak/pandas-tutorial-with-interactive-exercises)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# %matplotlib inline  # work for Jupyter notebook or lab



---

## [2] Handling DataFrame
- head()
- tail()
- describe()
- info()

In [2]:
# Creating a DataFrame by passing a NumPy array, with a datetime index and labeled columns:
dates = pd.date_range('20200928', periods=6)
dates

DatetimeIndex(['2020-09-28', '2020-09-29', '2020-09-30', '2020-10-01',
               '2020-10-02', '2020-10-03'],
              dtype='datetime64[ns]', freq='D')

In [4]:
# head()
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df.head() # 초반 5개의 행 표시

                   A         B         C         D
2020-09-28 -0.193562  1.696498 -0.015696 -0.080452
2020-09-29 -0.964660 -0.743128 -1.063106  0.889873
2020-09-30  2.314790  0.068887 -0.440005  0.888338
2020-10-01  0.449385 -0.117261 -0.326914  0.485893
2020-10-02  0.195515  0.114344  0.621750  0.274299

In [7]:
df.head(2) # 처음 2행 표시

                   A         B         C         D
2020-09-28 -0.193562  1.696498 -0.015696 -0.080452
2020-09-29 -0.964660 -0.743128 -1.063106  0.889873

In [8]:
df.tail(3) # 끝 3행 표시

                   A         B         C         D
2020-10-01  0.449385 -0.117261 -0.326914  0.485893
2020-10-02  0.195515  0.114344  0.621750  0.274299
2020-10-03  1.114980  0.396494  1.381906  0.058733

In [9]:
# Display the index, columns, and the underlying NumPy data:
df.index

DatetimeIndex(['2020-09-28', '2020-09-29', '2020-09-30', '2020-10-01',
               '2020-10-02', '2020-10-03'],
              dtype='datetime64[ns]', freq='D')

In [11]:
df.info() #non-null <--> null

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2020-09-28 to 2020-10-03
Freq: D
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       6 non-null      float64
 1   B       6 non-null      float64
 2   C       6 non-null      float64
 3   D       6 non-null      float64
dtypes: float64(4)
memory usage: 240.0 bytes

In [13]:
# describe() shows a quick statistic summary of your data:
df.describe() # 기본 통계

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.486075  0.235972  0.026322  0.419447
std    1.130666  0.810558  0.862902  0.411499
min   -0.964660 -0.743128 -1.063106 -0.080452
25%   -0.096293 -0.070724 -0.411732  0.112625
50%    0.322450  0.091616 -0.171305  0.380096
75%    0.948581  0.325956  0.462388  0.787727
max    2.314790  1.696498  1.381906  0.889873

In [17]:
df.columns #column, 각 열의 제목

Index(['A', 'B', 'C', 'D'], dtype='object')

In [20]:
# Transposing your dataframe:
df.T #행열 바꾸기

   2020-09-28  2020-09-29  2020-09-30  2020-10-01  2020-10-02  2020-10-03
A   -0.193562   -0.964660    2.314790    0.449385    0.195515    1.114980
B    1.696498   -0.743128    0.068887   -0.117261    0.114344    0.396494
C   -0.015696   -1.063106   -0.440005   -0.326914    0.621750    1.381906
D   -0.080452    0.889873    0.888338    0.485893    0.274299    0.058733

In [19]:
df.T.index

Index(['A', 'B', 'C', 'D'], dtype='object')

### Sorting

#### Sort by index
- sort_index(axis=0, ascending=False)
- sort_index(axis=1, ascending=False)

> Axis=0 Column-Wise Operation (수직으로)

> Axis=1 Row-Wise Operation (수평으로)

In [32]:
# Sorting by an axis:
df, df.sort_index(axis=0, ascending=True) #0 Column / true 세로 정렬(과거순), false(최근순)

(                   A         B         C         D
 2020-09-28 -0.193562  1.696498 -0.015696 -0.080452
 2020-09-29 -0.964660 -0.743128 -1.063106  0.889873
 2020-09-30  2.314790  0.068887 -0.440005  0.888338
 2020-10-01  0.449385 -0.117261 -0.326914  0.485893
 2020-10-02  0.195515  0.114344  0.621750  0.274299
 2020-10-03  1.114980  0.396494  1.381906  0.058733,
                    A         B         C         D
 2020-09-28 -0.193562  1.696498 -0.015696 -0.080452
 2020-09-29 -0.964660 -0.743128 -1.063106  0.889873
 2020-09-30  2.314790  0.068887 -0.440005  0.888338
 2020-10-01  0.449385 -0.117261 -0.326914  0.485893
 2020-10-02  0.195515  0.114344  0.621750  0.274299
 2020-10-03  1.114980  0.396494  1.381906  0.058733)

In [33]:
df,df.sort_index(axis=1, ascending=False) # 1 Low

(                   A         B         C         D
 2020-09-28 -0.193562  1.696498 -0.015696 -0.080452
 2020-09-29 -0.964660 -0.743128 -1.063106  0.889873
 2020-09-30  2.314790  0.068887 -0.440005  0.888338
 2020-10-01  0.449385 -0.117261 -0.326914  0.485893
 2020-10-02  0.195515  0.114344  0.621750  0.274299
 2020-10-03  1.114980  0.396494  1.381906  0.058733,
                    D         C         B         A
 2020-09-28 -0.080452 -0.015696  1.696498 -0.193562
 2020-09-29  0.889873 -1.063106 -0.743128 -0.964660
 2020-09-30  0.888338 -0.440005  0.068887  2.314790
 2020-10-01  0.485893 -0.326914 -0.117261  0.449385
 2020-10-02  0.274299  0.621750  0.114344  0.195515
 2020-10-03  0.058733  1.381906  0.396494  1.114980)

#### Sort by value
- sort_values(by='column')

In [38]:
# Sorting by values:
df,df.sort_values(by='B') #, ascending=False) # B행 기준으로 전체 정렬

(                   A         B         C         D
 2020-09-28 -0.193562  1.696498 -0.015696 -0.080452
 2020-09-29 -0.964660 -0.743128 -1.063106  0.889873
 2020-09-30  2.314790  0.068887 -0.440005  0.888338
 2020-10-01  0.449385 -0.117261 -0.326914  0.485893
 2020-10-02  0.195515  0.114344  0.621750  0.274299
 2020-10-03  1.114980  0.396494  1.381906  0.058733,
                    A         B         C         D
 2020-09-29 -0.964660 -0.743128 -1.063106  0.889873
 2020-10-01  0.449385 -0.117261 -0.326914  0.485893
 2020-09-30  2.314790  0.068887 -0.440005  0.888338
 2020-10-02  0.195515  0.114344  0.621750  0.274299
 2020-10-03  1.114980  0.396494  1.381906  0.058733
 2020-09-28 -0.193562  1.696498 -0.015696 -0.080452)

## indexing and slicing of DataFrame

#### Selecting data by indexing and slicing
- indexing
- slicing

In [40]:
df

                   A         B         C         D
2020-09-28 -0.193562  1.696498 -0.015696 -0.080452
2020-09-29 -0.964660 -0.743128 -1.063106  0.889873
2020-09-30  2.314790  0.068887 -0.440005  0.888338
2020-10-01  0.449385 -0.117261 -0.326914  0.485893
2020-10-02  0.195515  0.114344  0.621750  0.274299
2020-10-03  1.114980  0.396494  1.381906  0.058733

In [41]:
# Selecting a single column, which yields a Series
df['A'] #A column의 값

2020-09-28   -0.193562
2020-09-29   -0.964660
2020-09-30    2.314790
2020-10-01    0.449385
2020-10-02    0.195515
2020-10-03    1.114980
Freq: D, Name: A, dtype: float64

### 열-A,B를 다 선택하려면?

In [43]:
df[['A','B']] # 하나의 묶음으로 만들어야 한다. #df['A','B']

                   A         B
2020-09-28 -0.193562  1.696498
2020-09-29 -0.964660 -0.743128
2020-09-30  2.314790  0.068887
2020-10-01  0.449385 -0.117261
2020-10-02  0.195515  0.114344
2020-10-03  1.114980  0.396494

In [45]:
# Selecting via [], which slices the rows.
df[0:3]

                   A         B         C         D
2020-09-28 -0.193562  1.696498 -0.015696 -0.080452
2020-09-29 -0.964660 -0.743128 -1.063106  0.889873
2020-09-30  2.314790  0.068887 -0.440005  0.888338

In [46]:
df[0:-1]

                   A         B         C         D
2020-09-28 -0.193562  1.696498 -0.015696 -0.080452
2020-09-29 -0.964660 -0.743128 -1.063106  0.889873
2020-09-30  2.314790  0.068887 -0.440005  0.888338
2020-10-01  0.449385 -0.117261 -0.326914  0.485893
2020-10-02  0.195515  0.114344  0.621750  0.274299

In [49]:
df['20200928':'20201001'] # 인덱스가 아닌 값인 경우는 지정된 범위가 다 선택된다.
# 값으로 지정 할 때는 20201001포함.

                   A         B         C         D
2020-09-28 -0.193562  1.696498 -0.015696 -0.080452
2020-09-29 -0.964660 -0.743128 -1.063106  0.889873
2020-09-30  2.314790  0.068887 -0.440005  0.888338
2020-10-01  0.449385 -0.117261 -0.326914  0.485893

#### Selecting data by label

> **loc, iloc**

In [52]:
df # 6일의 4개 DF

                   A         B         C         D
2020-09-28 -0.193562  1.696498 -0.015696 -0.080452
2020-09-29 -0.964660 -0.743128 -1.063106  0.889873
2020-09-30  2.314790  0.068887 -0.440005  0.888338
2020-10-01  0.449385 -0.117261 -0.326914  0.485893
2020-10-02  0.195515  0.114344  0.621750  0.274299
2020-10-03  1.114980  0.396494  1.381906  0.058733

In [54]:
dates[0]

Timestamp('2020-09-28 00:00:00', freq='D')

In [53]:
df.loc[dates[0]]   # loc()

A   -0.193562
B    1.696498
C   -0.015696
D   -0.080452
Name: 2020-09-28 00:00:00, dtype: float64

In [55]:
# Selecting on a multi-axis by label:
df.loc[:,['A','B']]

                   A         B
2020-09-28 -0.193562  1.696498
2020-09-29 -0.964660 -0.743128
2020-09-30  2.314790  0.068887
2020-10-01  0.449385 -0.117261
2020-10-02  0.195515  0.114344
2020-10-03  1.114980  0.396494

#### [도전코딩]

> Select data for first two days AND comumn 3,4 from df.

In [61]:
#df.loc[0:2,['C','D']] # 0:2는 이틀, loc는 index가아니라 값을 지정해야 함
#df.loc['20200928':'20200930',['C','D']] # value를 지정 하였음
df.loc[dates[:2],['C','D']] # :2에서 value면 마지막 값이 포함 되지만, index는 포함되지 않음

                   C         D
2020-09-28 -0.015696 -0.080452
2020-09-29 -1.063106  0.889873

#### Selecting data by position (iloc())
- index 사용

In [62]:
df

                   A         B         C         D
2020-09-28 -0.193562  1.696498 -0.015696 -0.080452
2020-09-29 -0.964660 -0.743128 -1.063106  0.889873
2020-09-30  2.314790  0.068887 -0.440005  0.888338
2020-10-01  0.449385 -0.117261 -0.326914  0.485893
2020-10-02  0.195515  0.114344  0.621750  0.274299
2020-10-03  1.114980  0.396494  1.381906  0.058733

In [64]:
df.iloc[3]  # 결과는 차원축소형으로 표현됨.
# 3은 4번째 날짜 표시, 10-01일

A    0.449385
B   -0.117261
C   -0.326914
D    0.485893
Name: 2020-10-01 00:00:00, dtype: float64

In [66]:
# [다시 도전]
# Select data for first two days AND comumn 3,4 from df.
# Use iloc
df.iloc[:2,2:4] # 초반 2일, C,D열

                   C         D
2020-09-28 -0.015696 -0.080452
2020-09-29 -1.063106  0.889873

In [69]:
# Select one item
df.iloc[1,1] # index 2행(20200929) B열

-0.7431281557714601

#### Selecting data by Boolean indexing

In [70]:
df

                   A         B         C         D
2020-09-28 -0.193562  1.696498 -0.015696 -0.080452
2020-09-29 -0.964660 -0.743128 -1.063106  0.889873
2020-09-30  2.314790  0.068887 -0.440005  0.888338
2020-10-01  0.449385 -0.117261 -0.326914  0.485893
2020-10-02  0.195515  0.114344  0.621750  0.274299
2020-10-03  1.114980  0.396494  1.381906  0.058733

In [73]:
df[df.A > 0] # 조건 만족시키기. A열 값이 0보다 큰 것은?

                   A         B         C         D
2020-09-30  2.314790  0.068887 -0.440005  0.888338
2020-10-01  0.449385 -0.117261 -0.326914  0.485893
2020-10-02  0.195515  0.114344  0.621750  0.274299
2020-10-03  1.114980  0.396494  1.381906  0.058733

In [75]:
df[df > 0] # 0보다 큰 값은 true, false값은 NAN으로 표시(음수값들)

                   A         B         C         D
2020-09-28       NaN  1.696498       NaN       NaN
2020-09-29       NaN       NaN       NaN  0.889873
2020-09-30  2.314790  0.068887       NaN  0.888338
2020-10-01  0.449385       NaN       NaN  0.485893
2020-10-02  0.195515  0.114344  0.621750  0.274299
2020-10-03  1.114980  0.396494  1.381906  0.058733