<a href="https://colab.research.google.com/github/Kim-Hyerin/pdm06/blob/master/py-pandas/pandas_1_intro_pdm06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Python module 3. **pandas**

# Using pandas

* [10 Minutes to pandas](https://pandas.pydata.org/pandas-docs/stable/10min.html)
* [Pandas tutorial with interactive exercises](https://www.kaggle.com/pistak/pandas-tutorial-with-interactive-exercises)

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# %matplotlib inline  # work for Jupyter notebook or lab

## [1] Make data: Series, and DataFrame
> pandas의 데이터 구조
- Series (1차원 데이터 구조)
- DataFrame (2차원 & 다차원 데이터 구조)

### Series
> 1차원 데이터

In [3]:
# Creating a Series by passing a list of values
s = pd.Series([1,3,5,np.nan,6,8,'you'])
s

0      1
1      3
2      5
3    NaN
4      6
5      8
6    you
dtype: object

In [4]:
type(s)

pandas.core.series.Series

In [6]:
# indexing 7 slicing of series
s[0],s[:3],s[-1:]

(1, 0    1
 1    3
 2    5
 dtype: object, 6    you
 dtype: object)

In [9]:
s[:3]

0    1
1    3
2    5
dtype: object

In [10]:
s[-1:]

6    you
dtype: object

### 1차원 series의 용도
- 2차원 데이터프레임의 열을 구성

In [17]:
# Creating a DataFrame by passing a NumPy array, with a datetime index and labeled columns:
dates = pd.date_range('20200928', periods=6) # 6일동안의 날짜
dates
# HealthCare에서 시간별 데이터는 많이 쓰이며 중요

DatetimeIndex(['2020-09-28', '2020-09-29', '2020-09-30', '2020-10-01',
               '2020-10-02', '2020-10-03'],
              dtype='datetime64[ns]', freq='D')

In [15]:
type(dates)

pandas.core.indexes.datetimes.DatetimeIndex

In [20]:
# Make dataframe using an array with random numbers
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD')) # 6행 4열, 열 제목
df

                   A         B         C         D
2020-09-28  0.423069  1.544021 -0.201320 -1.057598
2020-09-29  0.767865  0.385729  0.940052  1.072966
2020-09-30  1.270387  0.261730  0.720174  1.558394
2020-10-01 -0.988927  0.348275 -1.502163  1.358377
2020-10-02 -1.603051  0.385254 -0.116407  0.007403
2020-10-03 -0.178086 -0.986435  1.317492 -0.257533

In [21]:
# check types of df  --> same type
df.dtypes

A    float64
B    float64
C    float64
D    float64
dtype: object

In [22]:
type(df)

pandas.core.frame.DataFrame

### 데이터프레임 (DataFrame)
- 2차원 데이터
- 다차원 데이터

In [27]:
# Creating a DataFrame by passing a dict of objects that can be converted to series-like.
df2 = pd.DataFrame({ 'A' : 1., 
                    'B' : pd.Timestamp('20200928'),
                    'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                    'D' : np.array([3] * 4,dtype='int32'),
                    'E' : pd.Categorical(["test","train","test","train"]),
                    'F' : 'foo' })

In [28]:
df2

     A          B    C  D      E    F
0  1.0 2020-09-28  1.0  3   test  foo
1  1.0 2020-09-28  1.0  3  train  foo
2  1.0 2020-09-28  1.0  3   test  foo
3  1.0 2020-09-28  1.0  3  train  foo

In [29]:
# check types of df2 --> different types
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [30]:
type(df2)

pandas.core.frame.DataFrame



---